<div class="form-wrapper full-screen  p-50" fxfill fxLayout="column" fxLayoutAlign="start center" >
  <button *ngIf="!mobile" mat-fab color="primary" class="back-btn" (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <button *ngIf="mobile" mat-mini-fab color="primary" class="back-btn" (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <div  class="form-container" *ngIf="!submitted; else thankYou" novalidate  fxLayout="column" fxLayoutAlign="center center">
    <img class="logo" src="../../../assets/copa/white_copa_black.png">
    <span class="mt-35 bold">RESET PASSWORD</span>

    <span class="mt-35">Please enter your email so we could</span>
    <span>send you reset email confirmation</span>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form mt-5">
      <mat-form-field class="form-element">
        <input matInput placeholder="Email*" formControlName="email" />
        <mat-error *ngIf="!formGroup.controls['email'].valid && formGroup.controls['email'].touched">
          {{ getErrorEmail() }}
        </mat-error>
      </mat-form-field>

      <div class="form-element mt-25">
          <button font mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid || isResetting">
            <span class="btn-text" *ngIf="!isResetting">Reset</span>
            <mat-spinner
            *ngIf="isResetting"
            [diameter]="30"
            ></mat-spinner>
        </button>
      </div>
    </form>
</div>
<ng-template #thankYou>
  <div class="p-10" fxFill fxLayout="column" fxLayoutAlign="center center">
   <span class="title">Thank you!</span>
   <span>We have sent an email to <b><u>{{formGroup.get('email').value}}</u></b>, with instructions on how to reset your password.</span>
  </div>
</ng-template>
</div>
