<div *ngIf="user" class="container" >
    <h2 mat-dialog-title >ACCOUNT SETTINGS
        <button mat-icon-button class="close-btn" aria-hidden="false" mat-dialog-close >
            <mat-icon>close</mat-icon>
        </button>
    </h2>
    <mat-dialog-content class="pt-10 px-20" fxLayout="column" color="primary" >
        <mat-tab-group>
            <mat-tab label="General">
              <div class="tab-content">
                  <form [formGroup]="formGroup" class="form" >
                      <div class="row mt-10">
                          <mat-form-field floatLabel='auto' class="form-element">
                              <mat-label><mat-icon>email</mat-icon>Email</mat-label>
                              <input matInput placeholder="Email" value="{{user?.email}}" disabled/>
                              <button class="button"
                               matTooltip="{{user.emailNotify ? 'Unsubscribe' : 'Subscribe'}} to email notifications"
                               matTooltipPosition="below"
                               matTooltipClass="tooltip"
                               mat-button color="accent"
                               type="button"
                               (click)="updateEmailNotification()">{{user.emailNotify ? 'Unsubscribe' : 'Subscribe'}}
                              </button>
                          </mat-form-field>
                      </div>
                      <div class="row">
                          <mat-form-field floatLabel='always' class="form-element" >
                              <mat-label><mat-icon>face</mat-icon>Username</mat-label>
                              <input #username formControlName="username"  name="username" matInput placeholder="Username" />
                              <mat-error *ngIf="!formGroup.controls['username'].valid && formGroup.controls['username'].touched">
                               {{ getUsernameError() }}
                              </mat-error>
                              <button  class="button" [disabled]="isSameUsername || !formGroup.valid" type="button" mat-raised-button color="accent" (click)="saveUsername(username.value)">
                                  Save
                              </button>
                            </mat-form-field>

                      </div>
                      <div class="row">
                          <mat-form-field floatLabel='always' class="form-element" >
                              <mat-label><mat-icon>lock</mat-icon>Password</mat-label>
                              <input matInput disabled placeholder="password" value="********" />
                              <button
                              matTooltip="Reset your password"
                              matTooltipPosition="below"
                              matTooltipClass="tooltip"
                              class="button"
                              type="button"
                              mat-raised-button color="accent" (click)="openResetPassword()">
                                  Reset
                              </button>
                            </mat-form-field>
                      </div>
                    </form>
                  <footer class="mb-10">
                    <hr>
                    <ul class="row-list" fxLayout="row" fxLayoutAlign="space-between center">
                      <li>MEMBERSHIP</li>
                      <li class="list-item" [ngClass]="user.free ? 'selected' : ''">Free</li>
                      <li class="list-item" [ngClass]="user.payg ? 'selected' : ''">PAYG</li>
                      <li class="list-item" [ngClass]="user.business ? 'selected' : ''">Business</li>
                    </ul>
                </footer>
              </div>
            </mat-tab>
            <mat-tab label="Advanced">
                <div class="tab-content advanced">
                  <div class="wrapper" fxFlexAlign="stretch" xFlexOffset="10" fxLayout="column" fxFlex="100" fxLayoutGap>
                    <div class="connectionMethods" class="col" fxLayout="column" >
                      <p>
                        Choose your connection method:
                        <mat-icon
                        matTooltip="Other users will only be able to interact with you through the selected identifiers."
                        matTooltipPosition="above"
                        matTooltipClass="tooltip"
                        matBadge="15">help</mat-icon>
                      </p>
                      <div class="row" fxLayout="row" fxLayoutAlign="space-between center">
                        <mat-checkbox (change)="updateContactMethod()" [(ngModel)]="user.contactByKey">Security Key</mat-checkbox>
                          <mat-form-field fxFlex *ngIf="user.contactByKey && user.password" floatLabel='always' class="form-element ml-25" >
                            <input matInput disabled value="{{user.password}}" />
                          </mat-form-field>
                          <button  *ngIf="user.contactByKey && user.password" class="button new-key-btn"
                               matTooltip="request a new security key"
                               matTooltipPosition="below"
                               mat-button color="accent"
                               matTooltipClass="tooltip"
                               type="button"
                               (click)="generateKey()">Reset
                              </button>
                          <mat-spinner
                          *ngIf="user.contactByKey && !user.password"
                          [diameter]="40"
                          ></mat-spinner>
                      </div>
                      <div class="row" fxLayout="row" fxLayoutAlign="space-between center">
                        <mat-checkbox (change)="updateContactMethod()" [(ngModel)]="user.contactByEmail">Email</mat-checkbox>
                      </div>
                      <div class="row" fxLayout="row" fxLayoutAlign="space-between center">
                        <mat-checkbox (change)="updateContactMethod()" [(ngModel)]="user.contacyByUsername">Username</mat-checkbox>
                      </div>
                    </div>
                    <div class="row" fxLayout="row" fxLayoutAlign="space-between center">
                        <p>
                          2 Factor-Authentication:
                          <mat-icon
                          matTooltip="COPA users have the option of adding another layer of protection to transfers, by adding a password"
                          matTooltipPosition="above"
                          matTooltipClass="tooltip"
                          matBadge="15"
                          >help</mat-icon>
                        </p>
                        <mat-slide-toggle
                          color="accent"
                          [checked]="user.externalPassword"
                          (change)="updateExternalPassword()"
                          >
                        </mat-slide-toggle>
                    </div>
                    <div class="row" fxLayout="row" fxLayoutAlign="space-between center">
                        <p>
                          Protected Link Password
                          <mat-icon
                          matTooltip="Require password authentication on protected link transfer"
                          matTooltipPosition="above"
                          matTooltipClass="tooltip"
                          matBadge="15">help</mat-icon>
                        </p>
                        <mat-slide-toggle
                          color="accent"
                          [checked]="user.protectedLinkPass"
                          (change)="updateProtectedLinkPasword()"
                        >
                        </mat-slide-toggle>
                    </div>
                    <div class="row" fxLayout="row" fxLayoutAlign="space-between center">
                        <p>
                          Self Encryption
                          <mat-icon
                          matTooltip="COPA provides an extra safety layer by allowing users to set and define their personal encryption passwords.
                          The self-encryption option, ensures that only the user can access his or her information."
                          matTooltipPosition="above"
                          matTooltipClass="tooltip"
                          matBadge="15">help</mat-icon>
                        </p>
                        <mat-slide-toggle
                          color="accent"
                          [checked]="user.selfEncryption"
                          (change)="updateSelfEncryption()"
                        >
                        </mat-slide-toggle>
                    </div>
                    <label class="mt-15">Data Exchange Policy</label>
                        <mat-radio-group
                          aria-labelledby="example-radio-group-label"
                          class="example-radio-group"
                          [(ngModel)]="user.offlineMode"
                          (change)="updateOfflineMode()">
                          <div class="row" fxLayout="row" fxLayoutAlign="space-between center">
                            <mat-radio-button class="example-radio-button" [value]="'ask'">
                              Always ask me
                            </mat-radio-button>
                          </div>
                          <div class="row" fxLayout="row" fxLayoutAlign="space-between center">
                            <mat-radio-button class="example-radio-button" [value]="'upload'">
                              Upload to <span class="strong-text">COPA</span> servers
                              <mat-icon
                              matTooltip="Send and Receive End-to-End encrypted data, with maximal Ease-of-use."
                              matTooltipPosition="above"
                              matTooltipClass="tooltip"
                              matBadge="15">help</mat-icon>
                            </mat-radio-button>
                          </div>
                          <div class="row" fxLayout="row" fxLayoutAlign="space-between center">
                            <mat-radio-button class="example-radio-button" [value]="'wait'">
                             Direct (P2P)
                            <mat-icon
                            matTooltip="Data will only be exchanged while both sides are connected."
                            matTooltipPosition="above"
                            matTooltipClass="tooltip"
                            matBadge="15">help</mat-icon>
                          </mat-radio-button>
                        </div>
                        </mat-radio-group>
                        <div class="row" fxLayout="row" fxLayoutAlign="flex-end center">
                            <button  class="button" type="button" mat-raised-button color="warn" (click)="logout()">
                                LOGOUT
                            </button>
                        </div>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>
          </mat-dialog-content>

  </div>

