@import '../../home/menu-items/dialog-style/dialog-style.scss';
@import '../../../../styles/colors.scss';

.main-row {
  height: 100%;

  .header {
    margin: 5px;
    font-size: 18px;
    font-weight: 400;

  }

  .header-underline {
    border-bottom: 1px solid $primary-text;
    width: fit-content;
  }

  .box {
    padding: 10px;
    margin: 5px;
    box-shadow: 6px 8px 10px rgba(0, 0, 0, 0.231);
    -webkit-box-shadow: 6px 8px 10px rgba(0, 0, 0, 0.231);
    -ms-box-shadow: 6px 8px 10px rgba(0, 0, 0, 0.231);
  }

  .col-1 {
    -ms-overflow-style: -ms-autohiding-scrollbar;

    ::-webkit-scrollbar {
      width: 0px;
      /* Remove scrollbar space */
      background: transparent;
      /* Optional: just make scrollbar invisible */
    }

    height: 420px;

    .box {
      height: 200px;
    }
    .dropzone {
      height: 100%;
      width: 100%;
      border: dashed 2px $main;
      position: absolute;
    }
    ngx-file-drop{
      &.dropzone{
        border: none;
        z-index: 1;

      }
    }
    .files-wrapper {
      position: relative;
      .files {
        .files-list {
          list-style: none;
          height: 115px;
          width: 200px;
          // overflow-y: auto;
          overflow-y: scroll;
          z-index: 10;
          padding: 0;
          margin-bottom: auto;

          li {
            display: flex;
            align-self: center;
            height: 55px;
            padding: 0 5px;

            .li-underline {
              border-bottom: 1px solid rgba(0, 0, 0, 0.05);
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;

              .file-name {
                width: 160px;
              }

              .file-size {
                font-size: 12px;
              }
            }
          }
        }
      }

      .buttons {
        button {
          margin: 10px;
          width: 150px;
          display: flex;
          font-size: 16px;
          z-index: 1;
          .btn-txt {
            color: rgba(0, 0, 0, 0.4);
            z-index: 2;
          }

          .add-icon {
            font-size: 22px;
            color: $primary-text;
          }
        }
      }
    }

    .details {
      .radio-group {
        margin-bottom: auto;
        margin-top: auto;
      }

      .transfer {
        width: 50%;
        border-right: 1px solid $primary-bg;

        .row {
          height: 40px;
        }

      }

      .recipient {
        margin-left: 10px;
        width: 50%;

        .form {
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: relative;
          max-width: 800px;
          height: 100%;
          .two-factor{
            position: absolute;
            bottom: 0;
            width: 100%;
           mat-form-field{
             &.country-code{
               width: 25%;
             }
             &.phone-number{
               width: 75%;
             }
           }
          }
          .form-element {
            width: 50%;
            position: relative;

            input {
              margin-top: 5px;
            }

            .add-icon {
              position: absolute;
              right: 5px;
              color: $primary-text;
              z-index: 2;

            }
          }
        }

        .download-limit {
          color: $primary-text;
          border-bottom: 1px solid $primary-text;
          padding: 0;
          width: 35px;
          min-width: 20px;
        }

      }
    }
  }

  .col-2 {
    height: 420px;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    ::-webkit-scrollbar {
      width: 0px;
      /* Remove scrollbar space */
      background: transparent;
      /* Optional: just make scrollbar invisible */
    }

    .box {
      height: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .contacts-list {
        height: 100%;
        width: 100%;
        overflow-y: auto;

        .contact-item {
          .contact-email {
            width: 100%;
            color: $primary-text;
          }

          .delete-icon {
            position: absolute;
            right: 0;
            bottom: 20%;
            font-weight: 300;
            font-size: 14px;
            z-index: 2;
          }
        }
      }

      .buttons {
        width: 65%;

        .action-btn {
          font-size: 18px;
          height: 50px;
          font-weight: bold;
          text-transform: uppercase;
        }

        .cancel-btn {
          color: $primary-text;
        }
      }
    }
  }
}

.help-icon {
  font-size: 16px;
  color: $primary-text;
}

::ng-deep {
  .tooltip {
    font-size: 12px;
  }
}

.delete-icon {
  font-size: 18px;
  font-weight: bold;
  color: $primary-text;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.delete{
  z-index: 2;
}
#menu {
  position: absolute;
}
.button{
  z-index: 2;
}
@media screen and (max-width: 480px) {
.main-row{
  flex-direction: column !important;
  overflow-y: scroll;
  overflow-x: hidden;
  .col-1{
    height: 100% !important;
    max-width: 100% !important;
    .box{
      width: 100% !important;
    }
  }
  .col-2{
    flex: 0 !important;
    flex-direction: row !important;
    width: 100% !important;
    height: auto !important;
    max-width: 100% !important;
    .box{
      width: 100% !important;
      height: 240px;
    }
  }
}
}
