<div class="main-row" fxLayout="row" fxLayoutAlign="space-between center">

  <div class="col-1" fxLayout="column" fxLayoutAlign="space-between stretch" fxFlex="70">


    <div class="files-wrapper box" fxLayout="row" fxLayoutAlign="start stretch" appDnd
      (fileUploadedEmitter)="uploadFile($event)" (folderUploadedEmitter)="uploadFolder($event)" (updateFolderSizeEmitter)="updateFolderSize($event)">

      <div class="files" fxLayout="column" fxLayoutAlign="space-between stretch">
        <span class="header-underline">
          <span class="header">
            Your Files
          </span>
        </span>
        <ul class="files-list" >
          <li *ngFor="let file of selectedFiles;">
            <span class="li-underline">
              <span class="file-details" fxLayout="column" fxLayoutAlign="end stretch">
                <span class="file-name truncate">{{file.name}}</span>
                <span class="file-size">{{file.size | fileSize}}</span>
              </span>
              <span class="delete">
                <mat-icon class="delete-icon pointer" (click)="delete(file.name)">close</mat-icon>
              </span>
            </span>
          </li>
        </ul>
      </div>
      <div class="buttons" fxLayout="column" fxLayoutAlign="center stretch">
        <button mat-icon-button color="accent" (click)="fileInput.click()">
          <mat-icon class="add-icon">add_circle</mat-icon>
          <span class="btn-text">Add more files</span>
          <input hidden type="file" #fileInput (change)="uploadFile(fileInput.files)">
        </button>
        <button mat-icon-button color="accent" (click)="folderInput.click()">
          <mat-icon class="add-icon">add_circle</mat-icon>
          <span class="btn-text">Add more folders</span>
          <input hidden type="file" webkitDirectory #folderInput (change)="uploadFolder(folderInput.files)">
        </button>
      </div>
    </div>
    <div class="details box" fxLayout="row" fxLayoutAlign="space-between stretch">

      <div class="transfer" fxLayout="column" fxLayoutAlign="space-between stretch">
        <span class="header-underline">
          <span class="header">Transfer Method</span>
        </span>
        <div class="radio-group">
            <mat-radio-group color="primary" (change)="clearRecipients()" [(ngModel)]="selectedTransferMethod">
              <div class="row" fxLayout="row" fxLayoutAlign="space-between center">
                <mat-radio-button color="primary" [value]="'classic'">
                  classic security
                </mat-radio-button>
                <mat-icon class='help-icon' matTooltip="Safe end-to-end private file transfer with no size-limitations"
                  matTooltipPosition="above" matTooltipClass="tooltip" matBadge="15">help_outline</mat-icon>
              </div>
              <div class="row" fxLayout="row" fxLayoutAlign="space-between center">
                <mat-radio-button color="primary" [value]="'advanced'">
                  advanced security
                </mat-radio-button>
                <mat-icon class='help-icon'
                  matTooltip="Self-destruct timer, files would be available exclusively within COPA (view-only), recipients cannot copy or duplicate files, including saving copies, forwarding, or screen printing."
                  matTooltipPosition="above" matTooltipClass="tooltip" matBadge="15">help_outline</mat-icon>
              </div>
              <div class="row" fxLayout="row" fxLayoutAlign="space-between center">
                <mat-radio-button color="primary" color="primary" [value]="'link'">
                  protected link
                </mat-radio-button>
                <mat-icon class='help-icon' matTooltip="End-to-end encrypted link can be share externally."
                  matTooltipPosition="above" matTooltipClass="tooltip" matBadge="15">help_outline</mat-icon>
              </div>
            </mat-radio-group>
        </div>
      </div>

      <div class="recipient">
        <span class="header-underline">
          <span class="header">{{selectedTransferMethod === 'link' ? 'Protected Link' : 'Recipient Details' }}</span>
          <ng-container>
            <form [formGroup]="formGroup" class="form" *ngIf="selectedTransferMethod !== 'link'">
              <mat-form-field floatLabel='auto' class="form-element my-5">
                <input #username formControlName="username" matInput name="username" placeholder="Email/Username/Key" />
                <mat-error *ngIf="!formGroup.controls['username'].valid && formGroup.controls['username'].touched">
                  {{ getUsernameError() }}
                </mat-error>
                <mat-icon class="add-icon pointer" #contactIcon (click)="openContacts($event)">person_add</mat-icon>
              </mat-form-field>
              <button class="button" (click)="addRecipient(formGroup.controls['username'].value)" [disabled]="!formGroup.valid" type="button" mat-raised-button color="primary">
                ADD
              </button>
            </form>
          </ng-container>
          <ng-container *ngIf="selectedTransferMethod === 'link'">
            <form [formGroup]="linkFormGroup" class="form">
              <mat-form-field floatLabel='auto' class="form-element my-5">
                <input autocomplete="true" matInput placeholder="Password" color="accent"
                  [required]="linkFormGroup.controls['isPasswordProtected'].value"
                  [disableControl]="!linkFormGroup.controls['isPasswordProtected'].value"
                  formControlName="password" type="password" />
                <!-- <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button> -->
                <mat-error class="password-error"
                  *ngIf="!linkFormGroup.controls['password'].valid && linkFormGroup.controls['password'].touched">
                  {{ getErrorPassword() }}
                </mat-error>
                <mat-slide-toggle formControlName="isPasswordProtected" color="primary" class="add-icon">
                </mat-slide-toggle>
              </mat-form-field>
              <button class="download-limit" mat-button [matMenuTriggerFor]="downloadLinkLimit">
                <mat-icon matTooltip="{{downloadLinkLimitString}}" matTooltipPosition="above" matTooltipClass="tooltip">
                  arrow_downward</mat-icon>
              </button>
              <mat-menu id="menu" class="download-link-menu" #downloadLinkLimit="matMenu" [hasBackdrop]="true">
                <button mat-menu-item (click)="setDownloadLinkLimit('1 download')">
                  <span>1 download</span>
                </button>
                <button mat-menu-item (click)="setDownloadLinkLimit('5 downloads')">
                  <span>5 downloads</span>
                </button>
                <button mat-menu-item (click)="setDownloadLinkLimit('Unlimited downloads (for 7 days)')">
                  <span>Unlimited downloads (for 7 days)</span>
                </button>
              </mat-menu>
            </form>
          </ng-container>
        </span>
      </div>

    </div>
  </div>

  <div class="col-2" fxLayout="column" fxLayoutAlign="space-between stretch" fxFlex="30">
    <div class="total box">
      <span class="header-underline">
        <span class="header">Total files: {{selectedFiles.length}}</span>
      </span>
      <mat-list class="contacts-list">
          <ng-container *ngFor="let contact of selectedContacts">
              <mat-list-item  class="contact-item">
                  <span *ngIf="contact.username" class="contact-email truncate">{{contact.username}}</span>
                  <span *ngIf="contact.property" class="contact-email truncate">{{contact.property}}</span>
                  <span class="delete">
                      <mat-icon class="delete-icon pointer" (click)="removeContact(contact)">close</mat-icon>
                    </span>
                    <mat-divider></mat-divider>
              </mat-list-item>
          </ng-container>
          </mat-list>
      <div class="buttons" fxLayout="column">
        <button mat-raised-button color="primary" class="action-btn" [disabled]="!linkFormGroup.valid"  *ngIf="selectedTransferMethod === 'link'">Create</button>
        <button mat-raised-button color="primary" class="action-btn" (click)="transfer()" [disabled]="selectedContacts.length === 0" *ngIf="selectedTransferMethod !== 'link'" >Transfer</button>
        <button mat-button (click)="cancel.emit(false)" class="cancel-btn">Cancel</button>
      </div>
    </div>
  </div>

</div>
