<h2 mat-dialog-title>Privacy Policy</h2>
<mat-dialog-content class="mat-typography">
  <p>Last Updated: June 6, 2018

    This privacy policy (" <b>Privacy Policy"</b>) governs how we, Copa Media Ltd ("<b>Copa</b>" "<b>we</b>", "<b>our</b>" or "<b>us</b>") use,
    collect and store information pertaining to you ("<b>User</b>", "<b>you</b>") in connection with the use of:
    (i) the website at
    <a href="www.copa.io" class="underline pointer">WWW.COPA.IO</a>
    and any other website that we operate (each, together with its sub-domains, content and services, a
    "Site"); and (ii) our Safe end-to-end private file transferring service (the "Service"). The Service and/or
    the Site may be available for use via a web browser or applications.

    We will collect, use and store information in the following use cases:

    (i)When you make use of the Site or Service;

    (ii)When you exchange business cards with us; and

    (iii)When you attend a marketing event and provide Personal Data;

    We greatly respect your privacy, which is why we make every effort to provide a platform that would live up
    to the highest of user privacy standards. Please read this Privacy Policy carefully, so you can fully
    understand our practices in relation to Personal Data. " Personal Data" means any information
    that can be used, alone or together with other data, to uniquely identify any living human being.

    Table of contents:
  </p>
    <ul>
      <li>
        What Information we Collect, Why we Collect it, and How it is Used;
      </li>
      <li>
        How we Protect and Store your Personal Data;
      </li>
      <li>
        How we share your Personal Data
      </li>
      <li>
        Additional Information Regarding Transfers of Personal Data
      </li>
      <li>
        Your Rights
      </li>
      <li>
        Use by Children
      </li>
      <li>
        How to Contact Us
      </li>
    </ul>
    This Privacy Policy may be updated from time to time and therefore we ask you to check back periodically
    for the latest version of the Privacy Policy, as indicated below. If there will be any significant
    changes made to the use of your Personal Data in a manner different from that stated at the time of
    collection, we will notify you by posting a notice on our Website or by other means.

  <h3><b>1. WHAT INFORMATION WE COLLECT, WHY WE COLLECT IT, AND HOW IT IS USED</b></h3>
  <ul>
    <li>
      <b>Data We Collect:</b> IP address <br>
      <b>Why is the data collected and for what purposes?:</b> Provision of the Service <br>
      <b>Legal basis:</b> Performance of the contract <br>
      <b>Third Parties with whom we Share your Data:</b> N/A <br>
      <b>Period of Storage:</b> To the extent necessary to perform the Service <br>
      <b>Consequences of not providing the data:</b> The Service will not be effectively provided
    </li>
    <br>
    <li>
      <b>Data We Collect:</b> User Name and email address to the extent you have chosen to provide such information <br>
      <b>Why is the data collected and for what purposes?:</b> Provision of the Service <br>
      <b>Legal basis:</b> Performance of the contract <br>
      <b>Third Parties with whom we Share your Data:</b> N/A <br>
      <b>Period of Storage:</b> To the extent necessary to perform the Service <br>
      <b>Consequences of not providing the data:</b> The Service will not be effectively provided
    </li>
    <br>
    <li>
      <b>Data We Collect:</b> 'Contact-Us' information from Site visitors <br>
      <b>Why is the data collected and for what purposes?:</b> Contacting and discussing your request with you <br>
      <b>Legal basis:</b> Negotiating before entering into a contract <br>
      <b>Third Parties with whom we Share your Data:</b> N/A <br>
      <b>Period of Storage:</b> To the extent necessary to perform the Service <br>
      <b>Consequences of not providing the data:</b> We will not be able to respond to your requests and queries.
    </li>
  </ul>
  <p>Customer Data: In addition, in the course of using the Service, you may transfer to us Customer Data
    (as defined in the Terms) that contains yours and/or third party's Personal Information, and we will
    use such Customer Data, if elected by you and solely to transfer the said Customer data to the recipient,
    in accordance with the Terms, in order to provide the Services. To the extent that Customer Data contains
    any third party's Personal Information you hereby warrants and represents that you have obtained all
    consents and approval required by the applicable law in order to transfer such Customer Data and allow
    our use of such Customer Data as set forth in our Terms available at <a href="https://www.copa.io/Terms">https://www.copa.io/Terms</a></p>

    <h3><b>2. HOW WE PROTECT AND STORE YOUR INFORMATION</b></h3>

  <p>2.1. Security. We have implemented appropriate technical, organizational and security measures designed
    to reduce the risk of accidental destruction or loss, or the unauthorized disclosure or access to such
    information appropriate to the nature of the information concerned. However, please note that we cannot
    guarantee that the information will not be exposed as a result of unauthorized penetration to our servers.
    Nevertheless, we make commercially reasonable efforts to make the collection and security of such
    information consistent with this Privacy Policy and all applicable laws and regulations. As the security
    of information depends in part on the security of the computer, device or network you use to
    communicate with us and the security you use to protect your user IDs and passwords, please make sure
    to take appropriate measures to protect this information.

    2.2. Retention of your Personal Data. In addition to the retention periods mentioned in Section 1 above, in
    some circumstances we may store your Personal Data for longer periods of time, for example (i) where we
    are required to do so in accordance with legal, regulatory, tax or accounting requirements, or (ii) for us
    to have an accurate record of your dealings with us in the event of any complaints or challenges, or
    (iii) if we reasonably believe there is a prospect of litigation relating to your Personal Data or dealings.</p>

    <h3><b>3. HOW WE SHARE YOUR PERSONAL INFORMATION</b></h3>
  <p>In addition to the recipients described in Section 1, we may share your information as follows:</p>
    <ul>
      <li>To the extent necessary, with regulators, to comply with all applicable laws, regulations and rules, and requests of law enforcement, regulatory and other governmental agencies or if required to do so by court order;</li>
      <li>If in the future, we sell or transfer some or all of our business or assets to a third party, we will (to the minimum extent required) disclose information to a potential or actual third party purchaser of our business or assets.</li>
      <li>Where you have provided your consent to us sharing the Personal Data.</li>
    </ul>
  <h3><b>4. ADDITIONAL INFORMATION REGARDING TRANSFERS OF PERSONAL DATA</b></h3>

  <p>Where we receive requests for information from law enforcement or regulators, we carefully validate
    these requests before any Personal Data is disclosed.</p>

  <h3><b>5. YOUR RIGHTS</b></h3>

  <p>The following rights (which may be subject to certain exemptions or derogations), shall apply and
    You have a right to access information held about you. Your right of access is normally to be exercised
    free of charge, however we reserve the right to charge an appropriate administrative fee where permitted
    by applicable law;</p>
<ul>
  <li>You have the right to request that we amend any Personal Data we hold that it is inaccurate or misleading.
  </li>
  <li>You have the right to request the erasure of the Personal Data that relates to you. Please note that there may be circumstances in which we are required to retain your data, for example for the establishment, exercise or defense of legal claims;</li>
  <li>The right to object to or to request restriction of the processing. However, there may be circumstances in which we are legally entitled to refuse your request;</li>
  <li>The right to data portability. This means that you may have the right to receive your Personal Data in a structured, commonly used and machine-readable format, and that you have the right to transmit that data to another controller;</li>
  <li>You have the right to object to profiling;</li>
  <li>You have a right to lodge a complaint with your local data protection supervisory authority (i.e., your place of habitual residence, place or work or place of alleged infringement) at any time. We ask that you please attempt to resolve any issues with us before you contact your local supervisory authority
  <li>The right to withdraw your consent. Please note that t there may be circumstances in which we are entitled to continue processing your data, in particular if the processing is required to meet our legal and regulatory obligations.</li>
  <li>You also have a right to request details of the basis on which your Personal Data is transferred outside the European Economic Area, but you acknowledge that data transfer agreements may need to be partially redacted for reasons of commercial confidentiality.</li>
</ul>
  <p>You can exercise your rights by contacting us at contact@copa.io. Subject to legal and other permissible
    considerations, we will make every reasonable effort to honor your request promptly or inform you if we
    require further information in order to fulfill your request. When processing your request, we may ask
    you for additional information to confirm your identity and for security purposes, before disclosing the
    Personal Data requested for you. We reserve the right to charge a fee where permitted by law, for
    instance, if your request is manifestly unfounded or excessive.

    In the event that your request would adversely affect the rights and freedoms of others (for example,
    would impact the duty of confidentiality we owe to others) or if we are legally entitled to deal with
    your request in a different way than initially requested, we will address your request to the maximum
    extent possible, all in accordance with applicable law.</p>

    <h3><b>6. USE BY CHILDREN</b></h3>

  <p>We do not offer our products or services for use by children. If you are under 18, you may not use the
    Website, or provide any information to the Website without the involvement of a parent or a guardian.
    We do not knowingly collect information from, and/or about children.</p>

    <h3><b>7. CONTACT US</b></h3>

  <p>If you have any questions, concerns or complaints regarding our compliance with this notice and the data
    protection laws, or if you wish to exercise your rights, we encourage you to first contact us at
    (contact@copa.io).
    **</p>
    <h3><b>8. CALIFORNIA PRIVACY RIGHTS.</b></h3>

  <p>8.1. California Privacy Rights. California Civil Code Section 1798.83 permits our customers who are
    California residents to request certain information regarding our disclosure of Personal Data to third
    parties for their direct marketing purposes. To make such a request, please send an email to
    (contact@copa.io).
    Please note that we are only required to respond to one request per customer each year.</p>
    <p>
      8.2. Do Not Track Notice. We do not track consumers over time and across third-party websites and
therefore do not respond to Do Not Track signals. We do not allow third parties to collect personally
identifiable information about an individual consumer's online activities over time and across
different websites when a consumer uses the Site and/or the Service .
    </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>


<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
