<h2 mat-dialog-title class="title">
  <span class="title-text">FAILED RECIPIENTS</span>
  <button mat-icon-button class="close-btn" aria-hidden="false" [mat-dialog-close]="false">
    <mat-icon>close</mat-icon>
  </button>
</h2>
<div class="text-wrapper">
    <span class="text">Failed to transfer files to the following recipients.</span>
    <span class="text">Would you like to try again</span>
</div>
<mat-dialog-content color="primary">
  <div class="contacts" fxLayout="column" fxLayoutAlign="start start">

      <mat-list class="contacts-list">
        <ng-container *ngFor="let contact of data">
            <mat-list-item  class="contact-item">
                <span class="contact-icon">
                    <mat-icon>
                      contacts_outline
                    </mat-icon>
                  </span>
                <span class="contact-email">{{contact.email}}</span>
            </mat-list-item>
            <mat-divider></mat-divider>
        </ng-container>
        </mat-list>
</div>
</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-raised-button [mat-dialog-close]="{result: true, data: data}">Yes</button>
    <button mat-raised-button [mat-dialog-close]="{result: false, data: data}">No</button>
  </mat-dialog-actions>


