<div class="wrapper">
    <button class="settings-btn" mat-button color="primary" (click)="openSettings()">
        <span>{{user.username}}</span>
        <mat-icon>person</mat-icon>
      </button>
<div fxLayout="column" fxLayoutAlign="space-between center" fxFill class="container">
<app-drag-and-drop class="drop-zone" fxFlex="100"></app-drag-and-drop>
<mat-toolbar class="nav" color="primary">
    <mat-toolbar-row fxLayoutAlign="space-between center" >
        <mat-icon (click)="openTransfers()" class="circle-icon" aria-hidden="false" matTooltip="COPA Transfers" matTooltipPosition="above">swap_horiz</mat-icon>
        <mat-icon (click)="openHistory()" class="circle-icon" aria-hidden="false" matTooltip="COPA History" matTooltipPosition="above">history</mat-icon>
        <mat-icon class="circle-icon" aria-hidden="false" matTooltip="COPA Contacts" matTooltipPosition="above">group</mat-icon>
        <mat-icon class="circle-icon" aria-hidden="false" matTooltip="COPA Viewer" matTooltipPosition="above">remove_red_eye</mat-icon>
        <mat-icon class="circle-icon" aria-hidden="false" matTooltip="COPA Chat" matTooltipPosition="above">chat_bubble_outline</mat-icon>
      </mat-toolbar-row>
</mat-toolbar>
</div>
</div>
