<div class="wrapper">
<div fxLayout="column" fxLayoutAlign="space-between center" fxFill class="container">

<app-drag-and-drop class="drop-zone" fxFlex="90"></app-drag-and-drop>
<mat-toolbar class="nav" color="primary">
    <mat-toolbar-row fxLayoutAlign="space-between center" >
        <mat-icon class="circle-icon" aria-hidden="false">swap_horiz</mat-icon>
        <mat-icon class="circle-icon" aria-hidden="false">history</mat-icon>
        <mat-icon class="circle-icon" aria-hidden="false">group</mat-icon>
        <mat-icon class="circle-icon" aria-hidden="false">remove_red_eye</mat-icon>
        <mat-icon class="circle-icon" aria-hidden="false">chat_bubble_outline</mat-icon>
      </mat-toolbar-row>
</mat-toolbar>
</div>
</div>
