

// $main: #1226AA;
$main: #3A61EE;

$red: #EA5A61;
$green: #49B376;
$blue: #4452A3;
// $primary: #1226AA; //same as main
$primary: #3A61EE;
$accent : #655DC6;
$teal: #97D9F7;
$strong-text: #10CFC9;
$primary-bg: #1226aad4;
$success: #10CFC9;
$yellow: yellow;
