@mixin ca-paddings($min-padding, $max-padding, $measurement) {
  @for $size from $min-padding through $max-padding {
    .p-#{$size} {
      padding: $size * $measurement;
    }

    .pt-#{$size},
    .py-#{$size} {
      padding-top: $size * $measurement;
    }

    .pr-#{$size},
    .px-#{$size} {
      padding-right: $size * $measurement;
    }

    .pb-#{$size},
    .py-#{$size} {
      padding-bottom: $size * $measurement;
    }

    .pl-#{$size},
    .px-#{$size} {
      padding-left: $size * $measurement;
    }

    .p-#{$size}i {
      padding: $size * $measurement !important;
    }

    .pt-#{$size}i,
    .py-#{$size}i {
      padding-top: $size * $measurement !important;
    }

    .pr-#{$size}i,
    .px-#{$size}i {
      padding-right: $size * $measurement !important;
    }

    .pb-#{$size}i,
    .py-#{$size}i {
      padding-bottom: $size * $measurement !important;
    }

    .pl-#{$size}i,
    .px-#{$size}i {
      padding-left: $size * $measurement !important;
    }
  }
}
