<div class="form-wrapper full-screen  p-50" fxfill fxLayout="column" fxLayoutAlign="start center">
  <button *ngIf="!mobile" mat-fab color="primary" class="back-btn" (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <button *ngIf="mobile" mat-mini-fab color="primary" class="back-btn" (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <div  class="form-container" novalidate  fxLayout="column" fxLayoutAlign="center center">
    <img class="logo" src="../../../assets/copa/white_copa_black.png">
    <span class="mt-35 bold">Create a new password</span>

    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form mt-5">
      <mat-form-field class="form-element">
        <input matInput placeholder="Password*" formControlName="password" />
        <mat-hint>Choose a password of at least eight characters, one uppercase letter and one number</mat-hint>
        <mat-error *ngIf="!formGroup.controls['password'].valid && formGroup.controls['password'].touched">
          {{ getErrorPassword() }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-element">
          <input matInput placeholder="Confirm Password*" formControlName="confirmPassword"/>
          <mat-error *ngIf="!formGroup.controls['confirmPassword'].valid && formGroup.controls['confirmPassword'].touched">
            {{ getNotSamePassword() }}
          </mat-error>
        </mat-form-field>

      <div class="form-element mt-25">
        <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Confirm</button>
      </div>
    </form>
</div>
