<div class="form-wrapper full-screen  p-50" fxfill fxLayout="column" fxLayoutAlign="start center">
  <button *ngIf="!mobile" mat-fab color="primary" class="back-btn" (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <button *ngIf="mobile" mat-mini-fab color="primary" class="back-btn" (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <div  class="form-container" novalidate  fxLayout="column" fxLayoutAlign="center center">
    <img class="logo" src="../../../assets/copa/white_copa_black.png">
    <span class="mt-35 bold">Create a new password</span>

    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form mt-5">
      <mat-form-field class="form-element">
        <input matInput placeholder="Password*" formControlName="pass" [type]="hide ? 'password' : 'text'" />
        <button type="button" mat-icon-button  matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        <mat-hint>Choose a password of at least eight characters, one uppercase letter and one number</mat-hint>
        <mat-error *ngIf="!formGroup.controls['pass'].valid && formGroup.controls['pass'].touched">
          {{ getErrorPassword() }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-element">
          <input matInput placeholder="Confirm Password*" formControlName="confirmed" [type]="hide ? 'password' : 'text'"/>
          <mat-error *ngIf="!formGroup.controls['confirmed'].valid && formGroup.controls['confirmed'].touched">
            {{ getNotSamePassword() }}
          </mat-error>
        </mat-form-field>

      <div class="form-element mt-25">
        <button color="primary" mat-raised-button type="submit" class="button" [disabled]="!formGroup.valid">
          <span *ngIf="!isResetting" class="btn-text">Confirm</span>
          <mat-spinner
          *ngIf="isResetting"
          [diameter]="30"
          ></mat-spinner>
        </button>
      </div>
    </form>
</div>
