@import '../../../../../styles/colors.scss';

.mat-dialog-container{
  position: relative;
}
  .title{
    color: $primary-text;
    text-align: center;
    border-bottom: 1px solid $primary-text;
    padding: 15px;

  .title-text{
    width: fit-content;
  }
    .close-btn{
      position: absolute;
      right: 5px;
      top: 0;
    }
  }
  .text-wrapper{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }
    .contacts{
    border: 1px solid #064eff24;
    min-height: 300px;
    margin: 5px;
    padding: 2px;
    overflow-y: auto;
      .contacts-list{
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 5px;
        width: 100%;
        max-height: 300px;
        overflow-y: auto;
        span{
          color: $primary-text;
        }
        .mat-list-item-content{
          padding: 0;
        }
        .contact-item{
          height: fit-content;
          min-height: 70px;
          .contact-icon{
            font-size: 12px;
            flex: 1;
            display: flex;
            align-items: center;
            .contact-email{
              margin-left: 5px;
              color: $primary-text;
            }
          }
          .icons{
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            .download-limit {
              border-bottom: 1px solid $primary-text;
              padding: 0;
              max-width: 30px;
              min-width: 30px;
            }
            .link{
              margin-left: 5px;
            }
          }
       
          .note{
            flex: 3;
          }
          .li-underline{
            border-bottom: 1px solid rgba(0,0,0,0.05);
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
        }
      }
    }
    
    #menu {
      position: absolute;
    }
mat-icon{
  color: $primary-text;
}
