<div class="container">
  <h2 mat-dialog-title class="title">
    <span class="title-text">CONTACTS</span>
    <button mat-icon-button class="close-btn" aria-hidden="false" [mat-dialog-close]="selectedContacts">
      <mat-icon>close</mat-icon>
    </button>
  </h2>

  <mat-dialog-content color="primary">
    <div class="contacts" fxLayout="column" fxLayoutAlign="start start">

      <mat-form-field class="search-field">
        <input matInput placeholder="Search user" #searchInput (input)="search(searchInput.value)">
      </mat-form-field>

        <mat-list class="contacts-list" *ngIf="filteredContacts.length > 0; else noContacts">
          <ng-container *ngFor="let contact of filteredContacts">
              <mat-list-item  class="contact-item pointer" (click)="toggleSelectContact(contact)">
                  <span class="contact-icon">
                      <mat-icon>
                        {{contact.isSelected ? 'done' : 'contacts_outline' }}
                      </mat-icon>
                    </span>
                  <span class="contact-email">{{contact.email}}</span>
              </mat-list-item>
              <mat-divider></mat-divider>
          </ng-container>
          </mat-list>
          <ng-template #noContacts>
            <span class="no-contacts">
                This user doesn’t exist in your Contacts. You should try a different user, or add this specific user to your contacs in case he does exist in our system.
            </span>
          </ng-template>

  </div>
  </mat-dialog-content>

  <mat-dialog-actions align="center">
      <button mat-button [mat-dialog-close]="selectedContacts">Done</button>
    </mat-dialog-actions>


</div>
