<p>
  contacts works!
</p>
<mat-form-field class="search-field">
  <input matInput placeholder="Search user" #searchInput (input)="searchPeer(searchInput.value)">
</mat-form-field>
<button mat-raised-button color="primary" (click)="add()">add</button>
<button mat-raised-button color="primary" (click)="confirm()">confirm</button>
<button mat-raised-button color="primary" (click)="deny()">deny</button>
<button mat-raised-button color="primary" (click)="delete()">delete</button>
<button mat-raised-button color="primary" (click)="deletePending()">deletePending</button>
<button mat-raised-button color="primary" (click)="deleteRequest()">deleteRequest</button>
<button mat-raised-button color="primary" (click)="addExternal()">addExternal</button>
