<div class="form-wrapper full-screen  p-50" fxfill fxLayout="column" fxLayoutAlign="start center">

    <div  class="form-container" *ngIf="!post; else forminfo" novalidate  fxLayout="column" fxLayoutAlign="center center">
      <img class="logo" src="../../../assets/copa/white_copa_black.png">
      <span class="mt-35">Send files.</span>
      <span>Full privacy. Max security. Unlimited size.</span>
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form mt-5">
        <mat-form-field class="form-element">
          <input matInput placeholder="Email*" formControlName="email" />
          <mat-error *ngIf="!formGroup.controls['email'].valid && formGroup.controls['email'].touched">
            {{ getErrorEmail() }}
          </mat-error>
        </mat-form-field>


        <mat-form-field class="form-element">
          <input matInput placeholder="Password*" formControlName="password" />
          <!-- <mat-error *ngIf="!formGroup.controls['password'].valid && formGroup.controls['password'].touched">
            {{ getErrorPassword() }}
          </mat-error> -->
        <span class="forgot-pass underline" (click)="forgotPass()">Forgot password?</span>
        </mat-form-field>
        <div class="form-element mt-25">
          <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Login</button>
        </div>
      </form>

      <div fxLayout="column" fxLayoutAlign="space-around center">
        <span>New to COPA?  <span class="sign-up" (click)="signUp()"> Sign up</span></span>
        <span>OR</span>
        <span class="underline">GO ANONYMOUS</span>
      </div>
    </div>

    <ng-template #forminfo>
      <div class="p-10">
        {{ post | json }}
      </div>
    </ng-template>
  </div>
