@import '../dialog-style/dialog-style.scss';
@import '../../../../../styles/colors.scss';
.container{
  .tab-content{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .wrapper{
      .table-container{
         min-height: 450px;
         .table{
          width: 90vw;

          .failed{
            color: $red;
          }
          .completed{
            color: $success;
          }
          .denied{
            color: $accent;
          }
        }
      }
    }
  }
}
mat-dialog-actions{
  .mat-paginator{
    margin-left: auto;
  }
}
/* Column Widths */
.mat-column-filename,
.mat-column-sender {
  max-width: 130px
}

.mat-column-created {
  max-width: 124px;
}
.spinner-container{
  min-height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}
