@import 'styles/colors.scss';

.dropzone {
  height: 100%;
  width: 100%;
  border: dashed 2px $main;

  .text{
    font-size: 24px;
  }
  .header{
    font-size: 36px;
    color: $main;
  }
  .img{
    height: 50%;
    width: 100%;
    padding: 25px;
  }
  .buttons{
    padding: 10px 0;
    button{
      margin: 0 0.5rem;
    }
  }
}

