<div class="dropzone" fxLayout="column" fxLayoutAlign="center center" appDnd>
    <span class="header bold">DROP FILES HERE</span>
    <img class="img" src="../../../../assets/copa/computer-transfer.png">
    <span>-Or-</span>
    <div class="buttons" fxLayout="row">
      <button mat-raised-button color="primary" (click)="fileInput.click()">Choose files</button>
      <input hidden type="file" #fileInput (change)="uploadFile(fileInput.files)">
      <button mat-raised-button color="primary" (click)="folderInput.click()">Choose folder</button>
      <input hidden type="file" webkitDirectory #folderInput (change)="uploadFolder(folderInput.files)">
    </div>
    <span class="text mt-10">Direct, private, any size, encrypted transfer. </span>
</div>
