@import '../../../../../styles/colors.scss';
  .mat-dialog-container{
    padding: 0;
  }
  .mat-tab-label{
    color: $main;
  }
.container{
  height: 100%;
  display: flex;
  flex-direction: column;
  .mat-dialog-title{
    margin: 0;
    background-color: $main;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 20px;
    .close-btn{
      position: absolute;
      right: 5px;
    }
  }
  .mat-dialog-content{
    padding: 0;
    margin: 0;
    max-height: 100vh;
  }
  .mat-dialog-actions{
    margin-top: auto;
    margin-bottom: 0;
    padding: 8px 8px;
  }
  @media screen and(max-width: 480px){
    .mat-dialog-content{
      width: 95vw;
    }
  }
}
