@import '../../dialog-style/dialog-style.scss';

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  .form-content{
    padding: 55px;
  }

}

.form-element {
  padding: 5px 0px 15px 2px;
  width: 100%;
  &.text{
    text-align: center;
    span{
      font-size: 14px;
      font-weight: 300;
    }
  }
}