/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import 'styles/margins.scss';
@import 'styles/paddings.scss';
@import 'styles/mixins.scss';
@import 'styles/colors.scss';
@import 'styles/theme.scss';
@include ca-paddings(0, 50, 1px);
@include ca-margins(0, 50, 1px);

main{
  position: relative;
}
.full-height-width {
  @include full-height-width();
}
.full-screen {
  @include full-screen();
}
body{
  // font-family: 'Poppins', sans-serif;
  margin: 0;
}

.bold{
  font-weight: bold;
}

.underline{
  text-decoration: underline;
}
.pointer{
  cursor: pointer;
  &:hover{
    cursor: pointer;
  }
}
.back-btn{
  position: absolute;
  left: 5%;
}
// .mat-dialog-container {
//   display: block;
//   border-radius: 4px;
//   box-sizing: border-box;
//   overflow: auto;
//   position: absolute;
//   left: 5%;
//   top: 10%;
//   width: 90%;
//   height: 70%;
// }
.backdrop-hide{
  background: white;
  height: calc(100vh - 100px);
  position: absolute;
  top: 35px;
  opacity: 0.95 !important;
}
.button {
 .mat-spinner{
    position: absolute;
    right: 10px;
    top: calc(50% - 15px);
  }
}
.strong-text{
  color: $strong-text;
}
::ng-deep{
  .tooltip{
    font-size: 14px;
  }
}
